#ignoring virtual environmental installations
.venv/
#ignoring all .env file using **.env
**.env  
# ignoring the development containers
.devcontainer/

**/__pycache__/

000_Learning_Center/006_Math_Project/__pycache__/model_registry.cpython-312.pyc
