# ===== Core LangChain =====
langchain>=0.3.0
langchain-core>=0.3.0
langchain-community>=0.3.0
langchain-text-splitters>=0.3.0

# ===== LLM Providers =====
langchain-huggingface>=1.2.0
langchain-groq>=0.1.9

# ===== Hugging Face =====
transformers>=4.44.0
huggingface_hub>=0.36.0
sentence-transformers>=2.7.0
tokenizers>=0.19.0

# ===== Vector DB =====
faiss-cpu
chromadb

# ===== Document ingestion =====
pypdf
beautifulsoup4
unstructured
wikipedia
arxiv

# ===== Database =====
mysql-connector-python
SQLAlchemy

# ===== App / UI =====
streamlit

# ===== Excel =====
openpyxl
pandas

# ===== Utilities =====
python-dotenv
tqdm
ipykernel
certifi
gradio


# ======= Other GenAI toosl ======

#AWS
boto3
awscli

#NVIDIA NIM
langchain_nvidia_ai_endpoints

#Crew AI
crewai
crewai_tools
